*{ margin : 0; padding : 0;}
ul,li{ list-style: none;}
img{ display: block;}
html,body{ height:100%;
color: #797d82;}
.clearfix:after{ content:""; display: block; clear:both;}



a{
    text-decoration: none;
    color: #797d82;
}

